body{
    background-color: rgba(0, 0, 0, 0.05);
}

h2{
    color: rgba(0, 0, 0, 0.7);
    font-family: verdana;
    font-size: 24pt;
    margin-top: 20px;
    text-align: center;
}

h3{
    color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.text_area{
    background-color: white;
    border: 1px solid grey;
    font-family: times;
    font-size: 16pt;
    height: 300px;
    margin: 20px;
    margin-top: 0px;
    overflow: scroll;
    width: 450px;
}

.red{
    color: red;
}

#input{
    color: grey;
}

#overlay{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#overlay p{
    text-align: center;
}

#page{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    width: 100%;
}

#validate_choice{
    margin-left: 180px;
}
